.menu {
    a {
        cursor: pointer;
        color: #241E20;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        img {
            margin-right: 8px;
        }
    }
}